* {
  background-color: black;
  color: aliceblue;
}

.App {
  font-family: sans-serif;
  text-align: center;
  
}

.grid-album {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  justify-items: stretch;
}

.grid-albumList {
  display: grid;

}

.albumImage {
  border-radius: 50%;
  width: 5%;
}
